a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.disabled {
	background-color: red !important;
}

.entry-media .link-more {
	color: white;
	position: absolute;
	bottom: 0;
	left: 0;
}
